* {
    -fx-font-family: "Poppins";
}
/*SIDE MENU*/
.home-background {
    -fx-background-image: url("../assets/backgrounds/BG-home.png");
}

.flashcard-background {
    -fx-background-image: url("../assets/backgrounds/BG-flashcard.png");
}

.class-background {
    -fx-background-image: url("../assets/backgrounds/BG-class.png");
}

.teacher-background {
    -fx-background-image: url("../assets/backgrounds/BG-Teacher.png");
}

.create-flashcard-background {
    -fx-background-image: url("../assets/backgrounds/BG-createflashcard.png");
}

.super-flash-title {
    -fx-font-size: 44;
    -fx-font-family: "Quicksand";
    -fx-fill: #ffffff;
    -fx-font-weight: bold;
}

.menu-text-white {
    -fx-font-size: 20;
    -fx-fill: #ffffff;
    -fx-font-weight: bold;
}

.menu-text-black {
    -fx-font-size: 20;
    -fx-fill: #000000;
    -fx-font-weight: bold;
}

.profile-dropdown-button {
    -fx-background-color: transparent;
}

.search-bar {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20;
    -fx-padding: 10px 20px;
    -fx-font-size: 11;
    -fx-border-color: #01c729;
    -fx-border-radius: 20;
}

.search-button {
    -fx-background-color: #01c729;
    -fx-background-radius: 50%;
    -fx-border-color: transparent;
}

/*CREATE FLASHCARD PAGE*/
.page-title {
    -fx-font-size: 35;
    -fx-fill: #000000;
    -fx-font-weight: bold;
}

.term,
.definition {
    -fx-background-radius: 20;
    -fx-border-style: none;
    -fx-background-color: #ffffff;
    -fx-prompt-text-fill: grey;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-padding: 5px 0 0 30px;
}

.create-button {
    -fx-font-size: 30;
    -fx-font-color: #FFFFFF;
    -fx-font-weight: bold;
    -fx-background-color: #2545FE;
    -fx-background-radius: 8;
}

.cancel-button {
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #5F5F5F;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}