* {
    -fx-font-family: "Poppins";
}
/*SIDE MENU*/
.home-background {
    -fx-background-image: url("../assets/backgrounds/BG-home.png");
}

.flashcard-background {
    -fx-background-image: url("../assets/backgrounds/BG-flashcard.png");
}

.class-background {
    -fx-background-image: url("../assets/backgrounds/BG-class.png");
}

.teacher-background {
    -fx-background-image: url("../assets/backgrounds/BG-Teacher.png");
}

.create-flashcard-background {
    -fx-background-image: url("../assets/backgrounds/BG-createflashcard.png");
}

.super-flash-title {
    -fx-font-size: 44;
    -fx-font-family: "Quicksand";
    -fx-fill: #ffffff;
    -fx-font-weight: bold;
}

.menu-text-white {
    -fx-font-size: 20;
    -fx-fill: #ffffff;
    -fx-font-weight: bold;
}

.menu-text-black {
    -fx-font-size: 20;
    -fx-fill: #000000;
    -fx-font-weight: bold;
}

.profile-dropdown-button {
    -fx-background-color: transparent;
}

.search-bar {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20;
    -fx-padding: 10px 20px;
    -fx-font-size: 11;
    -fx-border-color: #01c729;
    -fx-border-radius: 20;
}

.search-button {
    -fx-background-color: #01c729;
    -fx-background-radius: 50%;
    -fx-border-color: transparent;
}

/*CREATE FLASHCARD SET PAGE*/

.set-name,
.set-description,
.set-topic {
    -fx-background-radius: 20;
    -fx-border-style: none;
    -fx-background-color: #ffffff;
    -fx-prompt-text-fill: grey;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-padding: 5px 0 0 30px;
}


/*CREATE FLASHCARD PAGE*/
.page-title {
    -fx-font-size: 35;
    -fx-fill: #000000;
    -fx-font-weight: bold;
}

.term,
.definition {
    -fx-background-radius: 20;
    -fx-border-style: none;
    -fx-background-color: #ffffff;
    -fx-prompt-text-fill: grey;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-padding: 5px 0 0 30px;
}

.create-button {
    -fx-font-size: 30;
    -fx-font-color: #FFFFFF;
    -fx-font-weight: bold;
    -fx-background-color: #2545FE;
    -fx-background-radius: 8;
}

.save-button {
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-font-color: black;
    -fx-background-color: #FFD700;
    -fx-background-radius: 8;
}

.cancel-button {
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #5F5F5F;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}

#name-label {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-min-width: 350px;
    -fx-min-height: 35px;
    -fx-padding: 0 20px 0 10px;
}

#topic-label {
    -fx-font-size: 12;
    -fx-font-weight: 6px;
    -fx-min-width: 200px;
    -fx-min-height: 35px;
    -fx-padding: 0 20px 0 0;
}

#number-flashcard {
    -fx-font-size: 12;
    -fx-min-width: 90px;
    -fx-min-height: 35px;
    -fx-padding: 0 20px 0 0;
}

#action-button {
    -fx-font-size:13;
    -fx-font-weight: bold;
    -fx-background-color: #E2F2E1;
    -fx-border-color: #01C729;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 3px 25px 3px 25px;
}

#flashcard-set-container {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-alignment: center-left;
    -fx-spacing: 10px;
    -fx-padding: 10px;
}

#listFlashcards {
    -fx-background-color: #E2F2E1;
    -fx-alignment: top;
    -fx-spacing: 8px;
}

#nextButton {
    -fx-background-color: transparent

}

#backButton {
    -fx-background-color: transparent
}

#action-list {
    -fx-background-insets: 0;
    -fx-alignment: center;
}

.menu-item {
    -fx-padding: 0 25px 0 25px;
    -fx-alignment: center;
}