/* styles.css */
* {
    -fx-font-family: "Poppins";
}
/* SIDE MENU */
.home-background {
    -fx-background-image: url("../assets/backgrounds/BG-home.png");
}

.class-background {
    -fx-background-image: url("../assets/backgrounds/BG-class.png");
}

.teacher-background {
    -fx-background-image: url("../assets/backgrounds/BG-teacherMode.png");
}

.create-flashcard-background {
    -fx-background-image: url("../assets/backgrounds/BG-create.png");
}

.super-flash-title {
    -fx-font-size: 44;
    -fx-font-family: "Quicksand";
    -fx-fill: #ffffff;
    -fx-font-weight: bold;
}

.menu-text-white {
    -fx-font-size: 20;
    -fx-fill: #ffffff;
    -fx-font-weight: bold;
}

.menu-text-black {
    -fx-font-size: 20;
    -fx-fill: #000000;
    -fx-font-weight: bold;
}

.profile-dropdown-button {
    -fx-background-color: transparent;
}

.search-bar {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20;
    -fx-padding: 10px 20px;
    -fx-font-size: 11;
    -fx-border-color: #01c729;
    -fx-border-radius: 20;
}

.search-button {
    -fx-background-color: #01c729;
    -fx-background-radius: 50%;
    -fx-border-color: transparent;
}

/* CREATE FLASHCARD SET PAGE */
.set-name,
.set-description,
.set-topic,
.set-topic-dropdown {
    -fx-background-radius: 20;
    -fx-border-style: none;
    -fx-background-color: #ffffff;
    -fx-prompt-text-fill: grey;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-padding: 5px 0 0 30px;
}


/* CREATE FLASHCARD PAGE */
.page-title {
    -fx-font-size: 30;
    -fx-fill: #000000;
    -fx-font-weight: bold;
}

.term,
.definition {
    -fx-background-radius: 20;
    -fx-border-style: none;
    -fx-background-color: #ffffff;
    -fx-prompt-text-fill: grey;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-padding: 5px 0 0 30px;
}

.create-button {
    -fx-font-size: 30;
    -fx-font-color: #FFFFFF;
    -fx-font-weight: bold;
    -fx-background-color: #2545FE;
    -fx-background-radius: 8;
}

.save-button {
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-font-color: black;
    -fx-background-color: #FFD700;
    -fx-background-radius: 8;
}

.cancel-button {
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #5F5F5F;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}



/* EDIT FLASHCARD PAGE */
.edit-button {
    -fx-font-size: 22;
    -fx-font-weight: bold;
    -fx-background-color: #01C729;
    -fx-background-radius: 8;
}

.delete-button {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-background-color: #FF0000;
    -fx-background-radius: 8;
}

/* FLASHCARD SET BOX */
#name-label {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-min-width: 300px;
    -fx-min-height: 25px;
    -fx-padding: 0 80px 0 10px;
}

#topic-label {
    -fx-font-size: 13;
    -fx-min-width: 250px;
    -fx-min-height: 25px;
    -fx-padding: 0 80px 0 10px;
}

#number-flashcard {
    -fx-font-size: 13;
    -fx-min-width: 90px;
    -fx-min-height: 25px;
    -fx-padding: 0 30px 0 0;
}

#action-button {
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-background-color: #E2F2E1;
    -fx-border-color: #01C729;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 3px 25px 3px 25px;
}

#flashcard-set-container {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 10px;
    -fx-padding: 10px;
}

#listFlashcards {
    -fx-background-color: #E2F2E1;
    -fx-alignment: TOP_CENTER;
    -fx-spacing: 8px;
}

.next-button {
    -fx-background-color: transparent;
}

.back-button {
    -fx-background-color: transparent;
}

#action-list {
    -fx-background-insets: 0;
    -fx-alignment: CENTER;
}

.menu-item {
    -fx-padding: 0 25px 0 25px;
    -fx-alignment: CENTER;
}

/* CLASS CONTAINER */
#class-container {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 10px;
    -fx-padding: 10px;
}

listClassesUI {
    -fx-background-color: #E2F2E1;
    -fx-alignment: TOP_CENTER;
    -fx-spacing: 8px;
}

#class-name-label {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-min-width: 350px;
    -fx-min-height: 25px;
    -fx-padding: 0 20px 0 10px;
}

#number-student-label {
    -fx-font-size: 12;
}

#number-student-container {
    -fx-min-width: 100px;
    -fx-min-height: 25px;
    -fx-padding: 0 20px 0 0;
    -fx-alignment: CENTER;
}

#number-flashcard-label {
    -fx-font-size: 12;
}

#number-set-container {
    -fx-min-width: 100px;
    -fx-min-height: 25px;
    -fx-alignment: CENTER;
}

#edit-button {
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-background-color: #E2F2E1;
    -fx-border-color: #01C729;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 3px 25px 3px 25px;
}

#delete-button {
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-background-color: #E2F2E1;
    -fx-border-color: #01C729;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 3px 25px 3px 25px;
}

/* STUDENT CONTAINER */
#student-container {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 10px;
    -fx-padding: 5px 15px 5px 15px;
}

#remove-button {
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-background-color: #E2F2E1;
    -fx-border-color: #01C729;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 3px 25px 3px 25px;
}

#student-email-label {
    -fx-min-width: 300px;
    -fx-font-size: 13;
    -fx-padding: 0px 25px 0px 25px;
}

#student-name-label {
    -fx-font-size: 14;
    -fx-min-width: 320px;
    -fx-font-weight: bold;
    -fx-padding: 0 10px 0 10px;
}

/* FLASHCARD BOX */
.hbox-flashcard {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 10px;
    -fx-padding: 10px;
}

.term-label {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-min-width: 350px;
    -fx-min-height: 35px;
    -fx-padding: 0 20px 0 10px;
}

.definition-label {
    -fx-font-size: 12;
    -fx-min-width: 200px;
    -fx-min-height: 35px;
    -fx-padding: 0 20px 0 0;
}

.edit-action-button {
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-background-color: #E2F2E1;
    -fx-border-color: #01C729;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 3px 25px 3px 25px;
}

.delete-action-button {
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-font-color: white;
    -fx-background-color: #FF0000;
    -fx-background-radius: 8;
    -fx-padding: 3px 25px 3px 25px;
}

#add-flashcard-button {
    -fx-font-size: 22;
    -fx-font-weight: bold;
    -fx-background-color: #01C729;
    -fx-background-radius: 8;
    -fx-font-color: white;
}

.back-home {
    -fx-text-fill: #01971F;
    -fx-background-color: transparent;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

/* Teacher mode*/

.list-title {
    -fx-font-size: 25;
    -fx-font-weight: bold;
}

.blueClassButton {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-background-color: #205BFD;
    -fx-background-radius: 8;
    -fx-font-color: white;
}

.create-class-button {
    -fx-font-size: 16;
    -fx-font-color: #FFFFFF;
    -fx-font-weight: bold;
    -fx-min-width: 80;
    -fx-background-color: #2545FE;
    -fx-background-radius: 8;
}

.cancel-class-button {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #5F5F5F;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}

.assign-button {
    -fx-background-color: #FFD700;
}

.confirm-assign-button {
    -fx-font-size: 15;
    -fx-text-fill: #000000;
    -fx-background-color: #FFD700;
    -fx-background-radius: 8;
    -fx-font-weight: bold;
}

.layout-check-boxes {
    -fx-min-width: 500;
    -fx-alignment: center;
}

.check-box {
    -fx-font-size: 15;
    -fx-min-width: 300;
    -fx-padding: 2px;
}

.assign-label {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-min-width: 300;
    -fx-padding: 5px;
    -fx-alignment: center;
}

#email-field {
    -fx-padding: 10px;
    -fx-min-width: 400px;
}



/* STUDY FLASHCARD PAGE */
.hard-button {
    -fx-font-size: 22;
    -fx-font-weight: bold;
    -fx-background-color: #FF6302;
    -fx-background-radius: 8;
}
.index {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.instruction {
    -fx-font-size: 20;
}

.highlighted-button {
    -fx-font-size: 22;
    -fx-font-weight: bold;
    -fx-border-color: #2545FE;
    -fx-border-width: 2;
    -fx-border-radius: 8;
}

.message-label {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: #01971F;
}

/* STUDENT HOME PAGE */
#teacher-name-label {
    -fx-font-size: 12;
}

#teacher-name-container {
    -fx-min-width: 100px;
    -fx-min-height: 25px;
    -fx-alignment: CENTER;
}

/* QUIZ PAGE */
.check-button {
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-background-color: #2545FE;
    -fx-background-radius: 8;
}

.term-word {
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-text-tranform: uppercase;
}

.answer-buttons {
    -fx-background-color: #ffffff;
    -fx-border-color: #5F5F5F;
    -fx-border-width: 0.4;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-wrap-text: true;
}

.correct-answer {
    -fx-background-color: #01C729;
    -fx-border-color: #5F5F5F;
    -fx-border-width: 0.4;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-wrap-text: true;
}

.wrong-answer {
    -fx-background-color: #C70801;
    -fx-border-color: #5F5F5F;
    -fx-border-width: 0.4;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-wrap-text: true;
}

/*Student class details page (Show flashcard sets)*/
.teacher,
.teacher-name {
    -fx-font-size: 15;
    -fx-font-family: "Poppins";
    -fx-text-fill: #047201;
}

.teacher-name {
    -fx-font-weight: bold;
}